.galleryTitle{
    font-family: 'Futura PT Light',"Trebuchet MS", Arial, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 55px;
    letter-spacing: 2px;
      text-align: right;
      text-decoration: none;
      transition: color 0.20s ease-in-out;
  }
  .galleryDesc{
    font-family: 'Futura PT Light',"Trebuchet MS", Arial, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 2px;
      text-align: right;
      text-decoration: none;
      transition: color 0.20s ease-in-out;
  }
  