<div class="container affectedByLoad">
    <div class="row">
        <h1 class="galleryTitle">the black and white era</h1>
        <p class="galleryDesc">for a month or two, Ilford 400 was the best I could afford. <br>Thinking without colour was a difficult challenge, and made me always think twice before taking.</p>
    </div>
    <div class="row">
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img id="firstImg" src="assets/img/June22/042480010015.webp" class="d-block w-100" alt="underground">
            <div class="carousel-caption d-none d-md-block">
              <h5>underground</h5>
              <p style="color: white;">a rare shot of a non-strike day</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/img/June22/042480010036.webp" class="d-block w-100" alt="B&W BBC Television Centre">
            <div class="carousel-caption d-none d-md-block">
              <h5>the scandal appreciation company</h5>
              <p>can't put anything polictical in this description, sorry.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/img/June22/042480010028.webp" class="d-block w-100" alt="B&W of me playing piano with a silly hat">
            <div class="carousel-caption d-none d-md-block">
              <h5>charming fella.</h5>
              <p style="color: white;">FREEBIRD!</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/img/June22/042480010009.webp" class="d-block w-100" alt="B&W of a fake panda in Leicester Sq">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/img/June22/042480010014.webp" class="d-block w-100" alt="B&W of London underground">
            <div class="carousel-caption d-none d-md-block">
                <h5>underground again</h5>
                <p style="color: white;">guess i was excited, idk</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/img/June22/042480010037.webp" class="d-block w-100" alt="B&W of BBC television centre">
            <div class="carousel-caption d-none d-md-block">
                <h5>this place again.</h5>
                <p style="color: white;">guess i was excited, idk</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/img/June22/042480010012~2.webp" class="d-block w-100" alt="B&W of Leicester Square">
            <div class="carousel-caption d-none d-md-block">
                <h5>london town</h5>
                <p style="color: white;">I think it's Leicester Square?</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>

        

   
 
  

</div>