<div class="container ">


    <div class="row ">
        <div class="col-md-12" style="text-align: center;">
            <a class=" mobileTitle" id="title" href="/"><img src="../../assets/media/harry fresco font ps.png" class="navbarLogo" alt="harry fresco logo"> </a>
            <object data="../../assets/media/harryfrescocv.pdf" type="application/pdf" width="100%" style="height: calc(100vh - 150px);">
                <p>Here's a link <a href="../../assets/media/harryfrescocv.pdf"  download="HarryFrescoCV">to the PDF!</a></p>
              </object>
            
       
            


         
        </div>
    </div>

    <div class="row ">
        <div class="col-md-12" style="text-align: center; align-items: center;">
            <div class="footer">

                <a class="footerCentre" routerLink="/">view my photography!</a>
              
              </div>

        </div>

    </div>

</div>