

.header{
    /* background-color: rgb(231, 231, 231); */
    font-family: 'Roboto', sans-serif; font-weight: 100; color:rgb(160, 160, 160); font-size: 15pt;
    text-decoration: none;
    transition: color 0.20s ease-in-out;
    position: fixed;
    top: 0;
    padding: 10px;
    left:0;
    right: 0;
    height: 50px;
    background-color: #f7f1de;
  }
  .headerRight{
  font-family: 'Futura PT Light',"Trebuchet MS", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  letter-spacing: 2px;
  color: black;
    text-decoration: none;
    transition: color 0.20s ease-in-out;
    position: fixed;
    top: 0;
    padding: 10px;
    left:100;
    right: 0;
  }
  
  .headerLeft{
  font-family: 'Futura PT Light',"Trebuchet MS", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  letter-spacing: 2px;
  color: black;
    text-decoration: none;
    transition: color 0.20s ease-in-out;
    position: fixed;
    top: 0;
    padding: 10px;
    left:0;
    right: 100;
  }
  
  .headerCentre{
  font-family: 'Futura PT Light',"Trebuchet MS", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  letter-spacing: 2px;
  color: black;
    text-decoration: none;
    transition: color 0.20s ease-in-out;
    position: fixed;
    top: 0;
    padding-bottom: 15px;
    left:50%;
    transform: translate(-50%,0%);
  }
  .headerText:hover{
    color:rgb(211, 211, 211);
  }