<!-- Preload the LCP image for the next digital page -->
<link rel="preload" fetchpriority="high" as="image" href="../assets/img/May23/059610010030.jpeg" type="image/webp">
<link rel="preload" fetchpriority="high" as="image" href="../assets/digital/japan/c/DSCF1170.webp" type="image/webp">
<link rel="preload" fetchpriority="high" as="image" href="assets/media/portisheadLandscape2.mp4" type="image/webp">
<div class="container">

    <!-- <img src="../img/35mm/June 2022/June22c/042480010015.webp" class="backgroundImage" alt="Black and White London Underground background image"> -->
    <video class="backgroundImage" poster="assets/media/compressed.webp" autoplay playsinline muted [autoplay]="true" [muted]="true" [loop]="true" src="assets/media/portisheadLandscape2.mp4">
       
        
      Your browser does not support the video tag.
      </video>
        <div class="row  centreClass">
            <div class="col-12 " style="text-align: center;">
                <a routerLink="/choose" class="frontCTA" onmouseover="changeImageOpacityLanding(0.3)" onmouseout="changeImageOpacityLanding(0.8)">harry fresco                
                    <div class = "row centreHorizontal">
                    <div class="col-1-sm " style="padding-top: 20px; text-align: center;">

                        <button class="button-53" role="button" id="landingText">Entry, please</button>
                        
                    </div>
                  
                  </div></a>

            </div>
        </div>


      

    </div>