<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<!-- Simulate a smartphone / tablet -->


  <!-- Top Navigation Menu -->
  <div class="topnav">
    <a class="active navbarText mobileTitle" id="title" >Harry Fresco</a>
    <div id="myLinks">
      <a class="navbarText" routerLink="/june22" onClick="changeNavLinks('june22')">june '22</a>
      <a class="navbarText" routerLink="/jan23"onClick="changeNavLinks('jan23')">jan '23</a>
      <a class="navbarText rainbowText" routerLink="/may23"onClick="changeNavLinks('may23')">may '23</a>
      <a class="navbarText rainbowText" routerLink="/aug23"onClick="changeNavLinks('aug23')">aug '23</a>
      <a class="navbarText rainbowText" routerLink="/june24"onClick="changeNavLinks('june24')">june '24</a>
    </div>
    <a class="icon" onClick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
<div class="container text-center">


<!--   <div class="row justify-content-md-center">
      <div class="col-12" style="text-align: center;">
        <a class="navbarText" href="">all photos</a>
      </div>
  </div> -->
  <div class="row desktopNav">
    <div class="col" style="text-align: center;">
      <a class="navbarText" routerLink="/june22" onClick="changeNavLinks('june22')">june '22</a>
    </div>
    <div class="col" style="text-align: center;">
      <a class="navbarText" routerLink="/jan23" onClick="changeNavLinks('jan23')">jan '23</a>
    </div>
    <div class="col rainbowText" style="text-align: center;">
      <a class="navbarText rainbowText" routerLink="/may23" onClick="changeNavLinks('may23')">may '23</a>
    </div>
    <div class="col" style="text-align: center;">
      <a class="navbarText rainbowText" routerLink="/aug23" onClick="changeNavLinks('aug23')">aug '23</a>
    </div>
    <div class="col " style="text-align: center;">
      <a class="navbarText rainbowText" routerLink="/june24" onClick="changeNavLinks('june24')">june '24</a>
    </div>
</div>
<div class = "row">
  <div class="col-3-md">
    <div id="musicContainer">
      <h1 class="newButton" id="musicText" onclick="showMusic()">click here for music</h1>

    </div>
      
  </div>

</div>

</div>


  
  <!-- End smartphone / tablet look -->
