<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<!-- Simulate a smartphone / tablet -->


  <!-- Top Navigation Menu -->
  <div class="topnav" >
    <a class=" mobileTitle" id="title" href="/" ><img src="../../assets/media/harry fresco font ps.png" class="navbarLogo" alt="harry fresco logo"> </a>
    <div id="myLinks"> 
      <div class="navChooser">
        <a class=" mobileTitle" id="title" href="/"><img src="../../assets/media/harry fresco font ps.png" class="navbarLogo"alt="harry fresco logo"> </a>
        <a id="digital" class="navSelectors" onClick="showNavLinks(this.id)">digital</a>
        <div class="row">
        <div id="digitalItems" *ngFor="let item of digital;let index = index" class=" navItems">
        
            <a id="{{item.route}}" class="navbarText" routerLink={{item.route}} onClick="changeNavLinks(this.id)"
            routerLinkActive="mobileActive">-- {{ item.navbarTitle }}</a>
      
          </div>
        </div>
        
        <a id="analogue" class="navSelectors" onClick="showNavLinks(this.id)">analogue</a>
        <div class="row">
        <div id="analogueItems" *ngFor="let item of analogue;let index = index" class=" navItems" >
        
             <a id="{{item.route}}" class="navbarText" routerLink={{item.route}} onClick="changeNavLinks(this.id)"
            routerLinkActive="mobileActive">-- {{ item.navbarTitle }}</a>
    </div>
         
        </div>
        
         <hr>

             <a  class="navSelectors" routerLink="/gallery" routerLinkActive="mobileActive">view all</a>
        
              
   
              
               <a  class="navSelectors" routerLink="/about" routerLinkActive="mobileActive">about</a>
          
        
          <div class="col-3-md">
            <div id="musicContainerMobile">
              <h1 class="newButton" id="musicText" onclick="showMusic('mobile')">click here for music</h1>
        
            </div>
              
          </div>
        
    
      </div>

     
    </div>
    <a class="icon" onClick="myFunction()" style="margin: 15px;">
      <i class="fa fa-bars"></i>
    </a>
    
  </div>
<div class="container" >



  <div class="row desktopNav">
    <div class="row" style="text-align: center; display: inline-block;">
      <a  href="/" ><img src="../../assets/media/harry fresco font ps.png" class="desktopTitle"alt="harry fresco logo"> </a>
    </div>
   
    <div class="navChooser">
      <a id="digital" class="navSelectors" onClick="showNavLinks(this.id)">digital</a>
      <a id="analogue" class="navSelectors" onClick="showNavLinks(this.id)">analogue</a>
    </div>
    <div>
      <div id="digitalItems" *ngFor="let item of digital;let index = index" class=" navItems">
        <a id="{{item.route}}" class="navbarText" routerLink={{item.route}} onClick="changeNavLinks(this.id)"
          routerLinkActive="desktopNavActive">{{ item.navbarTitle }}</a>
      </div>
      <div id="analogueItems" *ngFor="let item of analogue;let index = index" class=" navItems" >
        <a id="{{item.route}}" class="navbarText" routerLink={{item.route}} onClick="changeNavLinks(this.id)"
          routerLinkActive="desktopNavActive">{{ item.navbarTitle }}</a>
      </div>
    </div>
    <!--     <div *ngFor="let item of nav;let index = index" class="col" style="text-align: center;">
        
          <a id="{{item.route}}" class="navbarText" routerLink={{item.route}} onClick="changeNavLinks(this.id)" routerLinkActive="desktopNavActive">{{ item.navbarTitle }}</a>
      
      </div> -->
  
  </div>
<div class = "row">
  <div class="col-3-md">
    <div id="musicContainer">
      <h1 class="newButton" id="musicText" onclick="showMusic()">click here for music</h1>

    </div>
      
  </div>

</div>

</div>


  
  <!-- End smartphone / tablet look -->
