<div class="container affectedByLoad">
    <div class="row">
        <h1 class="galleryTitle">wizard release party 7/6/2024.</h1>
        <p class="galleryDesc">first day with the fujifilm x-t20 with the 27mm 'pancake lens' <br> an amazing day for the release of Les Joy's single 'Wizard', and also a showcase for other great musicians. <br> go <a href="https://www.instagram.com/lesjoymusic/">follow</a> and listen to Les Joy NOW!</p>
    </div>
    <div class="row">
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
        </div>
        <div class="carousel-inner">

          <div class="carousel-item active">
            <img id="firstImg" src="assets/digital/wizard/2024-0607-21435400-66658f3fde510.webp" class="d-block w-100" alt="wizard set">
          </div>              
          <div class="carousel-item">
            <img src="assets/digital/wizard/2024-0608-01275500-66658f51083d5.webp" class="d-block w-100" alt="les joy">
          </div>
          <div class="carousel-item">
            <img src="assets/digital/wizard/2024-0607-21453600-66658f4573c9a.webp" class="d-block w-100" alt="les joy">
          </div>
          <div class="carousel-item">
            <img src="assets/digital/wizard/2024-0607-22593000-66658f4b26040.webp" class="d-block w-100" alt="">
          </div>
          <div class="carousel-item">
            <img src="assets/digital/wizard/2024-0607-21452900-66658f3fae3ea.webp" class="d-block w-100" alt="les joy">
          </div>
          <div class="carousel-item">
            <img src="assets/digital/wizard/2024-0607-23410300-66658f4bb4367.webp" class="d-block w-100" alt="">
          </div>
          <div class="carousel-item">
            <img src="assets/digital/wizard/2024-0607-22553100-66658f46521ec.webp" class="d-block w-100" alt="">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>

        
          <div id="footer-placeholder">

          </div>
   
 
  

</div>