<div class="container" >
    <div class="row" *ngIf="all">
        <div class=" columnGallery" *ngFor="let image of all;let index = index">
            <a id="{{index}}" onmouseover="changeImageOpacityGallery(0.5, this.id)" onmouseout="changeImageOpacityGallery(1, this.id)" >

            <img  id="{{image.imgPath}}" [src]="image.imgPath" class="{{index}} imageHover" [alt]="image.imgTitle" onClick="fullscreen(this.id)">

        </a>
        </div>

      <hr>


      </div>



</div>
<div id="fullpage" onclick="this.style.display='none';"></div>