<div class="container affectedByLoad">
    <div class="row">
        <h1 class="galleryTitle">japan</h1>
        <p class="galleryDesc">photography in japan is pretty much cheating, everything already looks amazing</p>
    </div>
    <div class="row">
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8" aria-label="Slide 9"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="9" aria-label="Slide 10"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="10" aria-label="Slide 11"></button>
        </div>
        <div class="carousel-inner">

          <div class="carousel-item active">
            <img id="firstImg" src="assets/digital/japan/DSCF1865-2.webp" class="d-block w-100" alt="miyajima island">
            <div class="carousel-caption d-none d-md-block">
              <h5>miyajima island</h5>
            </div>
          </div>              
          <div class="carousel-item">
            <img src="assets/digital/japan/DSCF2224.webp" class="d-block w-100" alt="elevator in tokyo tower">
            <div class="carousel-caption d-none d-md-block">
              <h5>tokyo tower</h5>
              <p style="color: aliceblue;">elevator</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/digital/japan/Untitled-2.webp" class="d-block w-100" alt="kyoto">
            <div class="carousel-caption d-none d-md-block">
              <h5>kyoto</h5>
              <p style="color: aliceblue;">temple</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/digital/japan/karate.webp" class="d-block w-100" alt="kyoto budo centre">
            <div class="carousel-caption d-none d-md-block">
              <h5>Kyoto Budo Centre</h5>
              <p style="color: aliceblue;">Japan's oldest martial arts exercise hall</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/digital/japan/DSCF1549.webp" class="d-block w-100" alt="hiroshima">
            <div class="carousel-caption d-none d-md-block">
              <h5>hiroshima</h5>
              <p style="color: aliceblue;">the building at the hypocentre of the A-Bomb</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/digital/japan/Untitled-1.webp" class="d-block w-100" alt="">
            <div class="carousel-caption d-none d-md-block">
              <h5>hakone</h5>
        
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/digital/japan/DSCF2244.webp" class="d-block w-100" alt="view from tokyo tower">
            <div class="carousel-caption d-none d-md-block">
              <h5>tokyo</h5>
              <p style="color: aliceblue;">view from tokyo tower</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/digital/japan/Untitled-5.webp" class="d-block w-100" alt="kyoto">
            <div class="carousel-caption d-none d-md-block">
              <h5>kyoto</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/digital/japan/DSCF1198.webp" class="d-block w-100" alt="budo centre">
            <div class="carousel-caption d-none d-md-block">
              <h5>kyoto budo centre</h5>
              <p style="color: aliceblue;">kendo practice</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/digital/japan/DSCF1207.webp" class="d-block w-100" alt="budo centre">
            <div class="carousel-caption d-none d-md-block">
              <h5>kyoto budo centre</h5>
              <p style="color: aliceblue;">kendo practice</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/digital/japan/DSCF1170.webp" class="d-block w-100" alt="budo centre">
            <div class="carousel-caption d-none d-md-block">
              <h5>kyoto budo centre</h5>

            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>

        
          <div id="footer-placeholder">

          </div>
   
 
  

</div>