<!-- <div id="fullscreen" class="fullscreen">
    <div id="loading" class="loader centreClass">

    </div>
</div> -->
<!-- meta, image compression (webp) -->
<!--     <div id="nav-placeholder">

</div>
  
<script>

    $("#nav-placeholder").load("navbar.html");
 
</script> -->
<!-- Preload the LCP image for the next digital page -->
<link rel="preload" fetchpriority="high" as="image" href="../assets/digital/japan/DSCF1865-2.jpeg" type="image/webp">
<link rel="preload" as="image" href="../assets/digital/japan/DSCF2224.jpeg" type="image/webp">
<!-- Preload the other photo -->
<link rel="preload" fetchpriority="high" as="image" href="../assets/img/May23/059610010030.jpeg" type="image/webp">
<link rel="preload" as="image" href="../assets/img/May23/059610010013.jpeg" type="image/webp">

<link rel="preload" as="image" href="../../assets/media/harry fresco font ps.png" type="image/png">
<div class="container affectedByLoad" style="position: inherit;">
    <div class="row centreClass">

        <div class="col-lg-6">
            <img class="backgroundImageChoose row2"
                src="assets/digital/japan/c/DSCF1170.webp">
            <div class="ribbon ribbon-top-left"><span>new japan pics</span></div>

            <div class="row centreClassChoose" style="text-align: center;">
                <a routerLink="/digital/japan" class="frontCTA" onmouseover="changeImageOpacity(0.3, '.row2')"
                    onmouseout="changeImageOpacity(0.8, '.row2')">
                    <div class="row centreHorizontalChoose">
                        <div class="col-1-sm " style="text-align: center;">

                            <button class="button-53" role="button" id="musicText">digital</button>

                        </div>

                    </div>
                </a>

            </div>

        </div>
        <div class="col-lg-6">
            <!-- <img src="../img/35mm/June 2022/June22c/042480010015.webp" class="backgroundImage" alt="Black and White London Underground background image"> -->
            <img class="backgroundImageChoose row1" src="assets/img/May23/059610010030.jpeg">


            <div class="row centreClassChoose" style="text-align: center;">
                <a routerLink="/analogue/colour" class="frontCTA" onmouseover="changeImageOpacity(0.3, '.row1')"
                    onmouseout="changeImageOpacity(0.8, '.row1')">
                    <div class="row centreHorizontalChoose">
                        <div class="col-1-sm " style="text-align: center;">

                            <button class="button-53" role="button" id="musicText">analogue</button>

                        </div>

                    </div>
                </a>

            </div>

        </div>
    </div>



</div>