
/* You can add global styles to this file, and also import other style files */
body{
  background-color: #f7f1de;
}
@font-face {
    font-family: 'Futura PT Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT Medium'), url('app/fonts/futura-pt-cufonfonts-webfont/FuturaCyrillicMedium.woff') format('woff');
    }
    @font-face {
      font-family: 'Futura PT Light';
      font-style: normal;
      font-weight: normal;
      src: local('Futura PT Light'), url('app/fonts/futura-pt-cufonfonts-webfont/FuturaCyrillicLight.woff') format('woff');
      }
      p{
        font-family: 'Roboto', sans-serif; font-weight: 300; color: rgb(84, 84, 84); font-size: 13pt;
    }
    .galleryTitle{
        font-family: 'Futura PT Light',"Trebuchet MS", Arial, sans-serif;
        font-weight: 200;
        font-style: normal;
        font-size: 55px;
        letter-spacing: 2px;
          text-align: right;
          text-decoration: none;
          transition: color 0.20s ease-in-out;
      }
      .galleryDesc{
        font-family: 'Futura PT Light',"Trebuchet MS", Arial, sans-serif;
        font-weight: 200;
        font-style: normal;
        font-size: 20px;
        letter-spacing: 2px;
          text-align: right;
          text-decoration: none;
          transition: color 0.20s ease-in-out;
      }
      .newButton{
        padding: 21px 34px;
       font-family: 'Futura PT Medium',"Trebuchet MS", Arial, sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size: 15px;
          letter-spacing: 1px;
      color: black;
      }

   

    .loader {
      display: inline-grid;
      z-index: 1000;
    }
    .loader:before,
    .loader:after {
      content: "";
      height: 27px;
      aspect-ratio: 5;
      --c: #000 90deg,#0000 0;
      background:
       conic-gradient(from 135deg at top   ,var(--c)),
       conic-gradient(from -45deg at bottom,var(--c)) 12.5% 100%;
      background-size: 20% 50%;
      background-repeat: repeat-x;
      -webkit-mask: repeating-linear-gradient(90deg,#000 0 15%,#0000 0 50%) 0 0/200%;
      animation: l8 .8s infinite linear;
    }
    .loader:after {
      animation-delay: -.2s;
      animation-direction: reverse;
    }
    @keyframes l8{
      to {-webkit-mask-position:-100% 0}
    }
    